<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol> -->
    <div class="item active">
        <div class="fill" style="background-image:url(/assets/tdba-bg.jpg);"></div>
        <div class="carousel-caption">
            <h2>Thailand Digital Currency and Blockchain Association</h2>
        </div>
    </div>
    <div class="item">
    <!-- Wrapper for slides -->
    <!-- <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url(/assets/bitcoins.jpg);"></div>
            <div class="carousel-caption">
                <h2>Thailand Digital Currency and Blockchain Association</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
            <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>
        </div>
    </div> -->

    <!-- Controls -->
    <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a> -->
</header>

<!-- Page Content -->
<div class="container">

  <!-- Marketing Icons Section -->
  <br/> <br/>
   <div class="row">
       <div class="col-md-4">
           <div class="panel panel-default">
               <div class="panel-heading">
                   <h4><i class="fa fa-fw fa-flask"></i> Research Lab</h4>
               </div>
               <div class="panel-body">
                   <p>TDBA is to open a technology lab in Thailand to explore how blockchain technology can be used in financial services.</p>
                   <a href="#" class="btn btn-default">Learn More</a>
               </div>
           </div>
       </div>
       <div class="col-md-4">
           <div class="panel panel-default">
               <div class="panel-heading">
                   <h4><i class="fa fa-fw fa-users"></i> Be an Ambassador</h4>
               </div>
               <div class="panel-body">
                   <p>Do you want to spearhead initiatives that help one of the greatest technical achievements of our times?</p>
                   <a href="#" class="btn btn-default">Learn More</a>
               </div>
           </div>
       </div>
       <div class="col-md-4">
           <div class="panel panel-default">
               <div class="panel-heading">
                   <h4><i class="fa fa-fw fa-calendar"></i> Host Events</h4>
               </div>
               <div class="panel-body">
                   <p>We need people! If you’re up for hosting one of our regular DevCore or other events in your area, get in touch!</p>
                   <a href="#" class="btn btn-default">Learn More</a>
               </div>
           </div>
       </div>
   </div>
   <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">What is TDBA?</h2>
        </div>
        <div class="col-md-6">

            <p>Digital currencies have the potential to change the way we transfer value from person to person in the same way that email and the World Wide Web changed the way we transfer information. However, significant challenges exist in helping to educate and inform businesses, the public, government and regulatory bodies as to the true potential of the underlying technology.
              <br/><br/>
              The Thai Digital Currency and Blockchain Technology Association (TDBA) is a non-profit organisation that was established to inform public debate, influence the design of jobs and growth-friendly policy and regulation for the Thailand, to educate the public and to provide a fact-based source of media comment as peer-to-peer Digital Currency technologies, such as Bitcoin, gain wider attention.
              <br/><br/>
              Bitcoin has already spawned many alternative currency types and complementary technologies that are also based upon the novel concept of The Blockchain. The TDBA believes that such innovations will continue to emerge as a wider Digital Currency ecosystem evolves in the years to come and we aim encompass all relevant future developments as and when the landscape dictates.
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/assets/bitcoin-keychain.jpg" alt="">
        </div>
    </div>
    <!-- /.row -->

    <!-- Call to Action Section -->
    <!-- <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
            </div>
        </div>
    </div> -->

</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
$(document).on('ready', function () {
  $('.carousel').carousel({
      interval: 5000 //changes the speed
  })
});
</script>
