<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About TDBA
                <small></small>
            </h1>
            <!-- <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">About</li>
            </ol> -->
        </div>
    </div>
    <!-- /.row -->


    <div class="row">
        <div class="col-lg-12">
            <!-- <h2 class="page-header">What is TDBA?</h2> -->
        </div>
        <div class="col-md-6">

            <p>
              The Thai Digital Currency and Blockchain Technology Association (TDBA) is a Thailand based, national association that connects scholars, researchers, and practice leaders in the field of Bitcoin, Blockchain, and Fintech Industry. It is a non-profit association committed to create an atmosphere of constructive and educational dialogue to inform the general public and to create a fact based media content about Digital Currency and blockchain technology on its course to be widely known to the world.
              <br/>
              <br/>
              As we progress further into advancement, the association is focused to serve as a back bone on the provisions of the technology in its initial stages. The association will protect, promote, decentralise, inform and most specially standardize the processes of the technology in order to ensure and facilitate the maturation of blockchain technology
              <br/>
              <br/>
              Digital Currency and blockchain technology are the future of the financial industry. It will serve as the most innovative channel on how we transfer value just like what the internet did with how we disseminate information. And thus, the association never fail to reach the finest minds on the field whose work led to innovation of the financial industry. The experts’ work side by side with the association devoted to create a scalable positive impact of the technology to the people.
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/assets/about-tdba.jpg" alt="">
        </div>
    </div>
