<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">The Board of Directors
                <!-- <small>Subheading</small> -->
            </h1>
            <!-- <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">About</li>
            </ol> -->
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="/assets/board-committees" alt="">
        </div>
        <div class="col-md-5">
            <!-- <h2>Chairman</h2> -->
            The Thai Digital Currency and Blockchain Technology Association (TDBA) is governed by the Board of directors. The members of the Board of Directors are elected by the General Assembly from among its members.  They are responsible for the full supervision of all the affairs of the association.
          </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
              The Committees
                <!-- <small>Subheading</small> -->
            </h1>
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
            <div class="col-md-8">
                The Committee is divided into five main parts. It is the primary administrative body in charge of the implementation of the TDBA policies. Each council shall be independent from, but shall act in coordination with one another.
              </div>
        </div>
    </div>
    <section id="templatemo_features">
        <div class="container-fluid">            <div class="col-sm-12">
                <div class="col-sm-6 col-lg-2 col-height feature-box">
                    <div class="feature-box-inner">
                        <div class="feature-box-icon">
                            <i class="fa fa-music"></i>
                        </div>
                        <h3>Administration</h3>
                        <p>
                          <button id="btn1">Learn More...</button>
                        </p>
                    </div>
                </div>
                <div class="col-sm-5 col-lg-2 col-height feature-box">
                    <div class="feature-box-inner">
                        <div class="feature-box-icon">
                            <i class="fa fa-pagelines"></i>
                        </div>
                        <h3>Accounting and Financial Services</h3>
                        <p>
                          <button id="btn2">Learn More...</button>
                        </p>
                    </div>
                </div>
                <div class="col-sm-5 col-lg-2 col-height feature-box">
                    <div class="feature-box-inner">
                        <div class="feature-box-icon">
                            <i class="fa fa-ship"></i>
                        </div>
                        <h3>Public Relations and Social Media</h3>
                        <p>
                          <button id="btn3">Learn More...</button>
                        </p>
                    </div>
                </div>
                <div class="col-sm-5 col-lg-2 feature-box">
                    <div class="feature-box-inner">
                        <div class="feature-box-icon">
                            <i class="fa fa-trophy"></i>
                        </div>
                        <h3>Law and Directive</h3>
                        <p>
                            <button id="btn4">Learn More...</button>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 feature-box">
                    <div class="feature-box-inner">
                        <div class="feature-box-icon">
                            <i class="fa fa-trophy"></i>
                        </div>
                        <h3>Research Lab and Incubator</h3>
                        <p>
                            <button id="btn5">Learn More...</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- The Board -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Support Members</h2>
        </div>
        <div class="col-md-4 text-center">
            <!-- <div class="thumbnail"> -->
                <img class="img-responsive" src="/assets/jirayut.png" alt="">
                <div class="caption">
                    <h3>Jirayut Srupsrisopa<br>
                        <small>Vice Chairman</small>
                    </h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul> -->
                </div>
            <!-- </div> -->
        </div>
        <div class="col-md-4 text-center">
            <!-- <div class="thumbnail"> -->
                <img class="img-responsive" src="/assets/jirapat.png" alt="">
                <div class="caption">
                    <h3>Jirapat Apichai<br>
                        <small>Secretary General</small>
                    </h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul> -->
                </div>
            <!-- </div> -->
        </div>
        <div class="col-md-4 text-center">
            <!-- <div class="thumbnail"> -->
                <img class="img-responsive" src="/assets/narinthorn.png" alt="">
                <div class="caption">
                    <h3>Narintorn Khonchapo<br>
                        <small>Treasurer</small>
                    </h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul> -->
                </div>
            <!-- </div> -->
        </div>

    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Association Members</h2>
            <i class="fa fa-arrow-right" ></i> Verarit Klawchit
            <br/><br/><i class="fa fa-arrow-right" ></i> Chantika Chomchome
            <br/><br/><i class="fa fa-arrow-right" ></i> Kawin Tiraborisute
            <br/><br/><i class="fa fa-arrow-right" ></i> Sirikhun Triwittayakhun
            <br/><br/><i class="fa fa-arrow-right" ></i> Preeda Boonyen
            <br/><br/><i class="fa fa-arrow-right" ></i> Krisnu Supaporn
            <br/><br/><i class="fa fa-arrow-right" ></i> Kanin Oungkananukij
            <br/><br/><i class="fa fa-arrow-right" ></i> Yanisa Rasameekobkul
            <br/><br/><i class="fa fa-arrow-right" ></i> Vatcharares Sritong
            <br/><br/><i class="fa fa-arrow-right" ></i> Jira Khooomkam
        </div>
    </div>
    <!-- Partners -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Partners</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="/assets/coins-co-th.png" alt="">
        </div>
        <!-- <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div> -->
    </div>
    <!-- /.row -->


    <!-- The Modal -->
    <div id="text1" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close" id="span1">×</span>
          <h2>Administration</h2>
        </div>
        <div class="modal-body">
          <p>
            The committee on Administration is the basis for the proper functioning of every other department in the Association. The committee brings together the best minds in events management and members’ services guide as they plan and coordinate administrative procedures and systems and devise ways to streamline processes.
            <br/>
            <br/>
            One of the major objectives of the committee is to build a linkage of media, government, businesses, and any individual who share similar interest, and encourage other people through social events the merits and the contribution of digital currency and the blockchain technology.
          </p>
        </div>
        <div class="modal-footer">
          <h5>Copyright © Thai Digital Currency and Blockchain Technology Association 2016</h5>
        </div>
      </div>
    </div>

    <div id="text2" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span id="span2" class="close">×</span>
          <h2>Accounting and Financial Services</h2>
        </div>
        <div class="modal-body">
          <p>
            The Committee of Accounting and Financial Services ensure high quality standards and protocol on providing practices on accounting and financial services framework for the members. It will function as the point of reference for the leading financial service providers.
            <br/>
            <br/>
            It will seek to assist the wider adoption of digital currencies by providing a business-supportive linkages experts on the matter. In this way, it will promote cooperation among members through consistent consultation on any issues that may arise and help everyone to move forward faster in achieving shared business and consumer objectives.
          </p>
        </div>
        <div class="modal-footer">
          <h5>Copyright © Thai Digital Currency and Blockchain Technology Association 2016</h5>
        </div>
      </div>
    </div>
    <div id="text3" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span id="span3" class="close">×</span>
          <h2>Public Relations and Social Media</h2>
        </div>
        <div class="modal-body">
          <p>
            The Committee on Public Relations and Social Media main tasks are to cultivate a strong industry network, increase consciousness, and create an enviable TDBA image through developing and implementing effective communication and media relations programs. It is responsible for planning, implementation and supervision of the TBDA internal and external promotions, publicities, and other such activities.
            <br/>
            <br/>
            The committee will be the reliable basis of sources of information. It will be the light for the better understanding of all the opportunities and threats of the digital currency and the blockchain technology. It will guide the media, government, businesses, and the general public to create an environment of informed choices of any course of action that can impact directly to the financial industry. The committee will address all the myths, misconceptions and misinformation that usually arise with insufficient factual knowledge about the technology.
          </p>
        </div>
        <div class="modal-footer">
          <h5>Copyright © Thai Digital Currency and Blockchain Technology Association 2016</h5>
        </div>
      </div>
    </div>
    <div id="text4" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span id="span4" class="close">×</span>
          <h2>Law and Directive</h2>
        </div>
        <div class="modal-body">
          <p>
            The committee will provide secure and safeguard systems that will ensure that the protection of the businesses and consumers will be the priority of the Association. It will give a legal counsel, and interpretation of the shifting legislative and regulatory policies of the country. It is also committed to encourage members to uphold the highest standards of ethical and social standards responsibilities in utilizing Digital Currency.
          </p>
        </div>
        <div class="modal-footer">
          <h5>Copyright © Thai Digital Currency and Blockchain Technology Association 2016</h5>
        </div>
      </div>
    </div>
    <div id="text5" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span id="span5" class="close">×</span>
          <h2>Accounting and Financial Services</h2>
        </div>
        <div class="modal-body">
          <p>
            The committee will ensure that TDBA is up to date to the world’s latest technology. TDBA have numerous of studies investigating on how the digital currency and bitcoin technology will change the landscape of financial services we have today. TDBA will push the boundaries of technology alongside with forward-thinking partners coming from different industries. In this way, our members can create strategic solutions and measures as they further understand their business opportunities and challenges.
            <br/>
            <br/>
            This committee will push forward all the standing committees to rapidly innovate and advocate positive changes for financial services. Knowledge and innovation are vital to our members and networks to understand shifting industry fundamentals and developing trends of Fintech Industry.
            <br/>
            <br/>
            The committee will pursue to further promote the use case of digital currency through continued advancement and research of the core protocol. The TDBA will facilitate and support sharing of knowledge, skills, and best practices in all of the field of bitcoin and blockchain technology.
          </p>
        </div>
        <div class="modal-footer">
          <h5>Copyright © Thai Digital Currency and Blockchain Technology Association 2016</h5>
        </div>
      </div>
    </div>

    <script>
      // Get the modal
      var text1 = document.getElementById('text1');
      var text2 = document.getElementById('text2');
      var text3 = document.getElementById('text3');
      var text4 = document.getElementById('text4');
      var text5 = document.getElementById('text5');

      // Get the button that opens the modal
      var btn1 = document.getElementById("btn1");
      var btn2 = document.getElementById("btn2");
      var btn3 = document.getElementById("btn3");
      var btn4 = document.getElementById("btn4");
      var btn5 = document.getElementById("btn5");

      // Get the <span> element that closes the modal
      var span1 = document.getElementById("span1");
      var span2 = document.getElementById("span2");
      var span3 = document.getElementById("span3");
      var span4 = document.getElementById("span4");
      var span5 = document.getElementById("span5");

      // When the user clicks on the button, open the modal
      btn1.onclick = function() {
          text1.style.display = "block";
      }
      btn2.onclick = function() {
          text2.style.display = "block";
      }
      btn3.onclick = function() {
          text3.style.display = "block";
      }
      btn4.onclick = function() {
          text4.style.display = "block";
      }
      btn5.onclick = function() {
          text5.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      span1.onclick = function() {
          text1.style.display = "none";
      }
      span2.onclick = function() {
          text2.style.display = "none";
      }
      span3.onclick = function() {
          text3.style.display = "none";
      }
      span4.onclick = function() {
          text4.style.display = "none";
      }
      span5.onclick = function() {
          text5.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == text1) {
            text1.style.display = "none";
          }else if(event.target == text2){
            text2.style.display = "none";
          }else if(event.target == text3){
            text3.style.display = "none";
          }else if(event.target == text4){
            text4.style.display = "none";
          }else if(event.target == text5){
            text5.style.display = "none";
          }
      }
    </script>
</div>
<!-- /.container -->
