<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">The Board and Committees
                <!-- <small>Subheading</small> -->
            </h1>
            <!-- <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">About</li>
            </ol> -->
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="/assets/board-committees" alt="">
        </div>
        <div class="col-md-6">
            <h2>Chairman</h2>
            Like all member based organisations TDBA is required to both service existing members and promote the Digital Currency industry through an active and engaging events program.  This committee bringing together the best minds in events management and members services to guide TDBA in these areas and is comprised of an (non-member)  Management Team.
        </div>
    </div>
    <!-- /.row -->

    <!-- The Board -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Support Members</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/jirayut.png" alt="">
                <div class="caption">
                    <h3>Jirayut Srupsrisopa<br>
                        <small>Vice Chairman</small>
                    </h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/jirapat.png" alt="">
                <div class="caption">
                    <h3>Jirapat Apichai<br>
                        <small>Secretary General</small>
                    </h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/narinthorn.png" alt="">
                <div class="caption">
                    <h3>Narintorn Khonchapo<br>
                        <small>Treasurer</small>
                    </h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Association Members</h2>
            <i class="fa fa-arrow-right" ></i> Verarit Klawchit
            <br/><br/><i class="fa fa-arrow-right" ></i> Chantika Chomchome
            <br/><br/><i class="fa fa-arrow-right" ></i> Kawin Tiraborisute
            <br/><br/><i class="fa fa-arrow-right" ></i> Sirikhun Triwittayakhun
            <br/><br/><i class="fa fa-arrow-right" ></i> Preeda Boonyen
            <br/><br/><i class="fa fa-arrow-right" ></i> Krisnu Supaporn
            <br/><br/><i class="fa fa-arrow-right" ></i> Kanin Oungkananukij
            <br/><br/><i class="fa fa-arrow-right" ></i> Yanisa Rasameekobkul
            <br/><br/><i class="fa fa-arrow-right" ></i> Vatcharares Sritong
            <br/><br/><i class="fa fa-arrow-right" ></i> Jira Khooomkam
        </div>
    </div>
    <!-- Partners -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Partners</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="/assets/coins-co-th.png" alt="">
        </div>
        <!-- <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div> -->
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
