<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
      <div class="col-sm-12">
          <h2> <class="page-header">The TDBA Accepts Bitcoin Donations
              <small></small>
              <hr/>
          </h2>
      </div>
  </div>
  <!-- /.row -->

  <div class="row">
     <div class="col-sm-8 intro-feature">
       <h5><span class="glyphicon glyphicon-globe"></span><b> BTC Financial Contributions are important because:</b></h5>
       <ul>
        <li>It makes TDBA more transparent as it creates a check and balance as Bitcoin users are allowed see how much donations are coming for the Association</li>
        <li>It showcase the strong  and valid representation of Bitcoin as a medium of exchange</li>
        <li>It will sustain different TDBA events and activities related to spreading awareness of the use case of bitcoin and blockchain technology</li>
        <li>TDBA has policy to ensure that all the donation will be used upon approval by the Board of Committee accordingly to the area in need to commit its goals.</li>
       </ul>
       <br/>
       <h5><span class="glyphicon glyphicon-briefcase"></span><b> Commitment to Work</b></h5>
       <p>TDBA as Thailand’s leading association that represents the Digital Currency industry is committed to see Thailand to rise as the leading country of innovation and development worldwide.</p>
       <p>Among all the efforts of TDBA, the association’s goal include:</p>
       <ul>
        <li>Develop Self-Regulatory framework for the industry with the contribution for different stakeholders</li>
        <li>Participation in Thai Taxation Office consultations on treatment of Digital Currency</li>
        <li>Create meetings for national officers, regulators and other key stakeholders</li>
        <li>Submit a Financial System inquiry with TDBA detailed proposed regulatory method</li>
       </ul>

     </div>
     <div class="col-sm-4 text-center thumbnail">
          <br/>
          <h5><b>Send Donations to:</b></h5>
          3ApEtn8hZywUfrhrYLE1XayytqsKJcgDrg
          <br/><br/><br/><img class="img-responsive" src="/assets/wallet-qr.png" alt="">
          <br/>
          <br/>
     </div>
     <div class = "col-sm-12">
       <br/>
       <br/>
       <p>Above goals involved with significant amount of legal fees for various professional assistance. There are so much things to be done if we are committed to bring Thailand as a leading country on currency revolution in providing a model for Fintech Industry for the rest of the world.</p>
       <p>To be able to support this effort, TDBA are honored to accept any amount of donations that will drive us to our goals. Donation through bitcoin are accepted through this page. If you are interested to donate in other currency, kindly <%= link_to 'contact us', page_path('contact') %></p>
       <p>Any participants who are interested and who are already in the network of Digital Currency are welcome to express interest to <%= link_to 'becoming a member', page_path('board-committees') %> of the association </p>

     </div>

  </div>

</div>
