<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
      <div class="col-sm-12">
          <h2> <class="page-header">The TDBA Accepts Bitcoin Donations
              <small></small>
              <hr/>
          </h2>
      </div>
  </div>
  <!-- /.row -->

  <div class="row">
     <div class="col-sm-7 intro-feature">
       <h5><span class="glyphicon glyphicon-globe"></span><b> BTC Financial Contributions are important because:</b></h5>
       <ul>
        <li>It represents our strong belief in the value of Bitcoin as a medium of exchange AND</li>
        <li>It automatically makes the Association’s assets public information – allowing Bitcoin users to see how much we have received in donations and emphasising our commitment to transparency.</li>
        <li>The TDBA’s policy is to ensure that every donation is directed accordingly to the area most needed as outlined by our Charter Mandate and approved by the Management Board Committee. TDBA also acknowledge that contributor expectation is that donations will support lobbying, media, education, legal fees and key operational costs of the Association.</li>
       </ul>
     </div>
     <div class="col-sm-5 text-center thumbnail">
         <h5><b>Send Donations to:</b></h5>
         3ApEtn8hZywUfrhrYLE1XayytqsKJcgDrg
         <br/><br/><img class="img-responsive" src="/assets/wallet-qr.png" alt="">
         <br/>
     </div>

     <div class = "col-sm-12">
       <h5><span class="glyphicon glyphicon-briefcase"></span><b> Continuing the Work</b></h5>
       <p>The TDBA has made significant progress in ensuring Digital Currencies (such as Bitcoin) receive appropriate regulatory treatment in Thailand.</p>
       <p>As Thailand’s leading council and representation for participants in the Digital Currency industry we are committed to seeing Thailand emerge as a leading hub of innovation globally. Some of our efforts so far to underpin this goal include:</p>
       <ul>
        <li>Meetings held with national and state parliamentarians, regulators and other key stakeholders</li>
        <li>Participation in Thai Taxation Office consultations on treatment of Digital Currency</li>
        <li>Organised and held a regulatory forum in Bangkok, well attended by all key regulators</li>
        <li>Development of a Self-Regulatory framework for the industry, drawing on input from a range of stakeholders</li>
        <li>Submission to the Financial System Inquiry, detailing our proposed Self-Regulatory approach</li>
       </ul>
       <p>This work has involved meeting significant legal fees and other professional advice. However, there is still much to be done if we are to see Thailand take its place at the forefront of the digital currency revolution, as well as to provide a model for effective, appropriate regulation of the industry for the rest of the world.</p>
       <p>To support this effort, we are happy to accept donations which will be directed to our goals. You can donate in Bitcoin via the wallet shown on this page. To arrange a contribution in a different currency, please <%= link_to 'contact us', page_path('contact') %></p>
       <p>The TDBA’s policy is to ensure that every donation is directed accordingly to the area most needed as outlined by our Charter Mandate and approved by the Management Board Committee. We acknowledge that contributors expect that donations will support lobbying, media, education, legal fees and key operational costs of the Association.</p>
       <p>Participants in the Digital Currency industry, including associated bodies such as retailers accepting Digital Currencies, can also express interest in <%= link_to 'becoming a member', page_path('board-committees') %></p>

     </div>

  </div>

</div>
