<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Digital Currency Speakers Council
                <small></small>
            </h1>
            <!-- <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">About</li>
            </ol> -->
        </div>
    </div>
    <!-- /.row -->


    <div class="row">
        <div class="col-lg-12">
            <!-- <h2 class="page-header">What is TDBA?</h2> -->
        </div>
        <div class="col-md-6">

            <p>
              The Digital Currency Speakers Council provide as a source for any meeting and event organizers who would like to have a guest speaker about bitcoin and bitcoin technology.
              <br/>
              <br/>
              The members of bitcoins speaker council includes experts and accomplished industry leaders. Contact us to arrange your speaker for your event.
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/assets/speaker.jpg" alt="">
        </div>
    </div>
