<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Learn More
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-1">
      </div>
        <div class="col-lg-9">
        <p>
          TDBA would like to emphasize that Knowledge and Innovation are vital to our members and networks to understand the shifting industry fundamentals and the developing trends of the Fintech Industry.
          <br/>
          <br/>
          Today's Era is described as the Age of Digital Currency (Cryptocurrency) as several types of digital currencies created tremendous changes to different areas of businesses, consumers, and banks. Among all of these currencies, the most famous one is Bitcoin.  Understanding such topics can be challenging.
          <br/>
          <br/>
          TDBA will give you a beginner's guide on how different types of Digital Currencies work. Check the various topics we have prepared that would be very helpful in understanding Bitcoin. This section will be updated monthly and thus checking for updates here is strongly recommended.
          <br/>
          <br/>
        </p>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Introduction</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">

                          <!-- Inner Topic 1 -->
                          <div class="panel-group" id="accordionTextA">
                              <!-- Question 1 -->
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextA" href="#collapseTextA1">a) What is bitcoin ?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextA1" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        Bitcoin is a new type of medium of exchange that is completely virtual. It is designed to enable users to send funds over the Internet without the need of a credit card or bank account. It is based on strong cryptographic principles and has various security measures built into its system.
                                      </div>
                                    </div>
                                </div>
                                <!-- Question 2 -->
                                <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextA" href="#collapseTextA2">b) Who is Satoshi Nakamoto ?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextA2" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        Satoshi Nakamoto is the pseudonym of the author that published the paper entitled "Bitcoin: A Peer-to-Peer Electronic Cash System" in 2008. Satoshi Nakamoto created the initial software implementation of the Bitcoin protocol and released it as an open - source software in 2009. In this capacity, Satoshi Nakamoto is the inventor of Bitcoin.
                                        <br/>
                                        <br/>
                                        In 2010, Satoshi gradually stopped contributing to the Bitcoin project and turned over development to the Bitcoin community which has continued to maintain the core Bitcoin software.
                                        <br/>
                                        <br/>
                                        It's important to realize that the software that Satoshi released is completely open-source, which means it can be read and contributed by anyone. No individual person or group has the power to control the Bitcoin network, because the network is completely open and transparent.
                                      </div>
                                    </div>
                                </div>
                                <!-- Question 3 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextA" href="#collapseTextA3">c) Who Created Bitcoin ?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextA3" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        Bitcoin is the first implementation of a concept called "crypto-currency", which was first described in 1998 by Wei Dai on the cypherpunks mailing list, suggesting the idea of a new form of money that uses cryptography to control its creation and transactions, rather than a central authority. The first Bitcoin specification and proof of concept was published in 2009 in a cryptography mailing list by Satoshi Nakamoto. Satoshi left the project in late 2010 without revealing much about himself. The community has since grown exponentially with many developers working on Bitcoin.
                                        <br/>
                                        <br/>
                                        Satoshi's anonymity often raised unjustified concerns, many of which are linked to misunderstanding of the open-source nature of Bitcoin. The Bitcoin protocol and software are published openly, and any developer around the world can review the code or make their own modified version of the Bitcoin software. Just like current developers, Satoshi's influence was limited to the changes he made being adopted by others. Neither he nor anyone else has ever had control over the Bitcoin network. As such, the identity of Bitcoin's inventor is probably as relevant today as the identity of the person who invented paper.
                                      </div>
                                    </div>
                                </div>
                                <!-- Question 4 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextA" href="#collapseTextA4">d) What Is a 'Satoshi' ?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextA4" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        A Satoshi is the smallest fraction of a Bitcoin that can currently be sent: 0.00000001 BTC. In the future, the protocol may be updated to allow further subdivisions should it be needed.
                                        <br/>
                                        <br/>
                                        <b>Examples of units</b>
                                        <br/>
                                        <ul>
                                          <li>
                                            1 BTC = 100,000,000 Satoshis
                                          </li>
                                          <li>
                                            1 BTC = 1000 mBTC (millibitcoin)
                                          </li>
                                          <li>
                                            1 mBTC = 100,000 Satoshis
                                          </li>
                                          <li>
                                            1 μBTC (microbitcoin) = 100 Satoshis
                                          </li>
                                      </ul>
                                      </div>
                                    </div>
                                </div>
                                <!-- Question End -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. Understanding more about Digital Currency and Blockchain Technology</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">

                          <!-- Inner Topic 2 -->
                          <div class="panel-group" id="accordionTextB">
                                <!-- Question 1 -->
                                <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextB" href="#collapseTextB1">a) Is Bitcoin Anonymous ?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextB1" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        Bitcoin is often described as an anonymous currency because it is possible to send and receive bitcoins without giving any personally identifiable information. However, achieving reasonable anonymity with Bitcoin can be quite complicated and perfect anonymity may be impossible.
                                      </div>
                                    </div>
                                </div>
                                <!-- Question 2 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextB" href="#collapseTextB2">b) Is Bitcoin Different From Credit Card or PayPal ?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextB2" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        Bitcoin is different from credit card networks such as Visa or payment operators such as PayPal since there's no individual or company that can own Bitcoin. Bitcoin is the first completely open payment system which makes everyone with internet connection able to participate in. Bitcoin is designed to be used on the internet and to not rely on any bank or company to process its transactions.
                                      </div>
                                    </div>
                                </div>
                                <!-- Question 3 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextB" href="#collapseTextB3">c) Is Bitcoin Tied to the Value of the Dollar ?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextB3" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        The value of a bitcoin is not tied or pegged to the value of any other currency. Similar to stocks or property, bitcoin’s value is determined by buying and selling in the open market. A bitcoin’s price changes in real time based on the number of people who want to buy or sell it at a given moment.
                                      </div>
                                    </div>
                                </div>
                                <!-- Question 4 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextB" href="#collapseTextB4">d) Why does Bitcoin Change Value? Why is the Price So Volatile ?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextB4" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        The value of a Bitcoin is tied to the laws of supply and demand. To be precise, the price is determined only by what the market is willing to pay. If more people want to buy Bitcoins, then the price will increase. If more people want to sell, the price will decrease.
                                        <br/>
                                        <br/>
                                        Bitcoin’s value can be volatile when compared to more established currencies and commodities. This can happen due to its relatively small market size. This volatility will decrease naturally over time as the currency matures and the market size increases.
                                      </div>
                                    </div>
                                </div>
                                <!-- Question 5 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextB" href="#collapseTextB5">E) What Is Mining ?</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTextB5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          The way Bitcoin works is that instead of having one central authority who secures and controls the money supply (like most governments do for their national currencies), this work is spread out all across the network. Most of the heavy lifting for Bitcoin is done by "miners".
                                          <br/>
                                          <br/>
                                          Miners collect the transactions on the network (like "Alice pays Karim 10 bitcoins" and "Liam pays Sofia 8.3 bitcoins") into large bundles called blocks. These blocks are strung together into one continuous, authoritative record called the block chain, which doesn't permit any conflicting transactions. This is necessary because without it people would be able to sign the same bitcoins over to two different recipients, like writing cheques for more money than you have in your account. The block chain lets you know for sure exactly which transactions count and can be trusted (so no bad cheques!).
                                          <br/>
                                          <br/>
                                          The way Bitcoin makes sure there is only one block chain is by making blocks really hard to produce. So instead of just being able to make blocks at will, miners have to compute a cryptographic hash of the block that meets certain criteria. Bitcoiners refer to this process as "hashing". The only way to find a cryptographic hash that's "good enough to count" is to try computing a whole bunch of them until you get lucky and find one that works. This is the "lottery process" and miners who successfully create a block are rewarded some bitcoins according to a preset schedule. The difficulty of the criteria for the hash is continually adjusted based on how frequently blocks are appearing, so more competition equals more work needed to find a block. A modern GPU can try hundreds of millions of hashes per second, so to be competitive in this race to find hashes miners need specialised hardware, otherwise they will tend to spend more on electricity than they make in the "lottery".
                                          <br/>
                                          <br/>
                                          In addition to the hash criteria, a block needs to contain only valid, non-conflicting transactions. So the other main task for miners is to carefully validate all the transactions that go into their blocks, otherwise they won't get any reward for their work!
                                          <br/>
                                          <br/>
                                          Because of all this work, when a Bitcoin client signs on to the network it can trust the block chain that was most difficult to produce (since this is evidently the one that was being worked on by the most miners). If there was a "fake" blockchain competing with the real ones (say, where someone pretends that they didn't actually give Sofia those 8.4 bitcoins and they still have them), the fraudster would have to do as much work as the whole rest of the network to make their block chain look as trustworthy. So essentially, the intense work that goes into finding blocks through hashing secures the network against fraud. There is also, of course, some nifty code that figures out how to choose between conflicting transactions; and what to do if two people find valid blocks at the same time.
                                          <br/>
                                          <br/>
                                          One last thing: why is it called mining? In the original analogy, people who performed this essential work were compared to gold miners digging the gold out of the ground so that everyone could use it. But in reality, Bitcoin "miners" are just running computer programs on very specialised hardware that automates the process of securing the network. To sum up, this software
                                          <br/>
                                          <ul>
                                            <li>
                                              Collects transactions from the network
                                            </li>
                                            <li>
                                              Validates them, and doesn't allow conflicting ones
                                            </li>
                                            <li>
                                              Puts them into large bundles called blocks
                                            </li>
                                            <li>
                                              Computes cryptographic hashes over and over until if finds one "good enough to count"
                                            </li>
                                            <li>
                                              Then submits the block to the network, adding it to the block chain and earning a reward in return.
                                            </li>
                                            <li>
                                          </ul>
                                          That's mining in a nutshell!
                                        </div>
                                      </div>
                                  </div>
                                  <!-- Question End -->
                                </div>
                        </div>
                    </div>
                </div>
                <!-- panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. Digital Currency and Blockchain Technology Trust and Security</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">

                          <!-- Inner Topic 2 -->
                          <div class="panel-group" id="accordionTextC">
                                <!-- Question 1 -->
                                <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextC" href="#collapseTextC1">a) Who Controls the Bitcoin Network ?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextC1" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        Nobody owns the Bitcoin network much like no one owns the technology behind email. Bitcoin is controlled by all Bitcoin users around the world. While developers are improving the software, they can't force a change in the Bitcoin protocol. For this reason, all users are free to choose what software and version they use. In order to stay compatible with each other, all users need to use software complying with the same rules. Bitcoin can only work correctly with a complete consensus among all users. Therefore, all users and developers have a strong incentive to protect this consensus.
                                      </div>
                                    </div>
                                </div>
                                <!-- Question 2 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextC" href="#collapseTextC2">b) Is Bitcoin Really Used by People ?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextC2" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        Yes, there is a growing number of businesses and individuals using Bitcoin. This includes brick and mortar businesses like restaurants, apartments, law firms and popular online services such as Namecheap, WordPress, Reddit and Flattr. While Bitcoin remains a relatively new phenomenon, it is growing fast. At the end of August 2013, the value of all bitcoins in circulation exceeded US$ 1.5 billion with millions of dollars’ worth of Bitcoins exchanged daily.
                                      </div>
                                    </div>
                                </div>
                                <!-- Question 3 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextC" href="#collapseTextC3">c) Is Bitcoin Secure ?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextC3" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        The Bitcoin technology - the protocol and the cryptography - has a strong security track record, and the Bitcoin network is the biggest distributed computing project in the world. Bitcoin's most common vulnerability is with the user error. Bitcoin wallet stores a user’s private keys. This prevents accidental deletion, losableness and theft of your Bitcoin wallet. This is similar to physical cash stored in a digital form. Fortunately, users can employ sound security practices to protect their money or use service providers that offer good levels of security and insurance against theft or loss.
                                      </div>
                                    </div>
                                </div>
                                <!-- Question 4 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextC" href="#collapseTextC4">d) Why Do People Trust Bitcoin?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextC4" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        Most of the trust in Bitcoin comes from the fact that it requires no trust at all. Bitcoin is fully open-source and decentralized. This means that everyone has access to the entire source code at any time. Any developer in the world can, therefore, verify exactly how Bitcoin works. All transactions and bitcoins issued into existence can be transparently consulted in real-time by everyone. All payments can be made without relying on a third party and the whole system is protected by heavily peer-reviewed cryptographic algorithms like those used for online banking. No organization or individual can control Bitcoin, and the network remains secure even if not all of its users can be trusted.
                                      </div>
                                    </div>
                                </div>
                                <!-- Question 5 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextC" href="#collapseTextC5">e ) Hasn't Bitcoin Been Hacked in the Past ?</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTextC5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          The rules of the protocol and the cryptography used for Bitcoin are still working years after its inception. It is a good indication that the concept is well designed. However, security flaws have been found and fixed over time in various software implementations. Like any other form of software, the security of Bitcoin software depends on the speed with which problems are found and fixed. As the currency matures, the more these types of issues are discovered and solved.
                                          <br/>
                                          <br/>
                                          There are often misconceptions about theft and security breaches involving Bitcoin, which have occurred to diverse exchanges and businesses. Although these events are unfortunate, none of them involves Bitcoin being hacked, neither does it imply any inherent flaws in Bitcoin. Analogous to a bank robbery, a robbery of this type doesn't compromise the value of the dollar. However, it is accurate to say that a complete set of best practices and intuitive security solutions are needed to give users the greatest protection for their money, and to reduce the general risk of theft and loss. Over the course of the last few years, such security features have quickly developed: i.e., wallet encryption, offline wallets, hardware wallets, and multi-signature transactions.
                                        </div>
                                  </div>
                                  <!-- Question End -->
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">4. Benefits of Digital Currency and Blockchain Technology</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">

                          <!-- Inner Topic 2 -->
                          <div class="panel-group" id="accordionTextD">
                                <!-- Question 1 -->
                                <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextD" href="#collapseTextD1">a) Why Use Bitcoins ?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextD1" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        <b>i)  It’s fast</b>
                                        <br/>
                                        Financial transactions are processed in different ways. When you pay with a cheque from another bank into your bank account, the bank will often hold that money for several days, because it cannot trust whether the source of money is really available. Similarly, international wire transfers can take a relatively long time to be processed. Bitcoin transactions, however, are generally far faster. Transactions can be instantaneous if they are “zero-confirmation” transactions, meaning that the merchant takes on the risk of accepting a transaction that hasn’t yet been confirmed by the blockchain. Or, they can take around 10 minutes if a merchant requires the transaction to be confirmed. That is far faster than any inter-bank transfer.
                                        <br/>
                                        <br/>
                                        <b>ii)  It’s cheap </b>
                                        <br/>
                                        What’s that you say? Your credit card transactions are instantaneous too? Well, that is true. However, your merchant (and possibly you) pays for that privilege. Merchants charge a fee for debit card transactions, as they have to pay a ‘swipe fee’ for fulfilling them. Bitcoin transaction fees are minimal, or in some cases free.
                                        <br/>
                                        <br/>
                                        <b>iii)  Central governments cannot take it away </b>
                                        <br/>
                                        Remember what happened in Cyprus in March 2013? The Central Bank wanted to take back uninsured deposits larger than $100,000 to help recapitalize itself, causing huge unrest in the local population. It originally wanted to take a percentage of deposits below that figure, eating directly into family savings. That can’t happen with bitcoin. Because the currency is decentralized, you own it. No central authority has control, and so a bank can’t take it away from you. For those who find their trust in the traditional banking system unravelling, that’s a big benefit.
                                        <br/>
                                        <br/>
                                        <b>iv)  There are no chargebacks </b>
                                        <br/>
                                        Once bitcoins have been sent, they’re gone. A person who has sent bitcoins cannot try to retrieve them without the recipient’s consent. This makes it difficult to commit the kind of fraud that we often see with credit cards, in which people make a purchase and then contact the credit card company to make a charge back, effectively reversing the transaction.
                                        <br/>
                                        <br/>
                                        <b>v)  People cannot steal your information from merchants </b>
                                        <br/>
                                        This is a big one. Most online purchases today are made via credit cards, but in the 1920’s and 30’s, when the first precursors to credit cards appeared, the Internet hadn’t yet been conceived. Credit cards were never supposed to be used online, because they are not secured. Online forms require you to enter all your secret information (the credit card number, expiry date, and CSV number) into a web form. It’s hard to think of a less secure way to do online business. This is why credit card numbers keep getting stolen. Bitcoin transactions, however, don’t require you to give up any secret information. Instead, they use two keys: a public and private key. Anyone can see the public key (which is actually your Bitcoin address), but your private key is secret. When you send a bitcoin, you ‘sign’ the transaction by combining your public and private keys together, and applying a mathematical function to them. This creates a certificate that proves the transaction came from you. As long as you don’t do anything silly, like publish your private key for everyone to see, you are safe.
                                        <br/>
                                        <br/>
                                        <b>vi)  It isn’t inflationary </b>
                                        <br/>
                                        The problem with regular fiat currency is that governments can print as much money they desire, and they frequently do. If there are not enough US dollars to pay off the national debt, then the Federal Reserve can simply print more. If the economy is sputtering, then the government can take newly created money and inject it into the economy, via a much-publicized process known as quantitative easing. This causes the value of a currency to decrease. If you suddenly double the number of dollars in circulation, then that means there are two dollars where before there was only one. Someone who had been selling a chocolate bar for a dollar will have to double the price to make it worth the same as it was before, because a dollar suddenly has only half its original value. This is called inflation, and it causes the price of goods and services to increase. Inflation can be difficult to control, and can decrease people’s buying power. Bitcoin was designed to have a maximum number of coins. Only 21 million will ever be created under the original specification. This means that after that, the number of bitcoins won’t grow, so inflation won’t be a problem. In fact, deflation – where the price of goods and services falls – is more likely in the Bitcoin world. However, this is also not a problem because the currency is effectively infinitely divisible. The precise amount doesn't matter, as long as the limit remains fixed.
                                        <br/>
                                        <br/>
                                        <b>vii)  It’s as private as you want it to be</b>
                                        <br/>
                                        Sometimes, we don’t want people knowing what we have purchased. Bitcoin is a relatively private currency. On the one hand, it is transparent – thanks to the block chain, everyone knows how much a particular bitcoin address holds in transactions. They know where those transactions came from, and where they’re sent. On the other hand, unlike conventional bank accounts, no one knows who holds a particular bitcoin address. It’s like having a clear plastic wallet with no visible owner. Everyone can look inside it, but no one knows whose it is. However, it’s worth pointing out that people who use Bitcoin unwisely (such as always using the same bitcoin address, or combining coins from multiple addresses into a single address) risk making it easier to identify them online.
                                        <br/>
                                        <br/>
                                        <b>viii)  You don’t need to trust anyone else </b>
                                        <br/>
                                        In a conventional banking system, you have to trust people to handle your money properly along the way. For example, you have to trust the bank. You might have to trust a third-party payment processor. You will often have to trust the merchant too. These organizations demand important, sensitive pieces of information from you. Since Bitcoin is entirely decentralized, trust is not an issue. When you send a transaction, it is digitally signed, and secured. An unknown miner will verify it, and then the transaction will then be completed. The merchant need not even know who you are. Unless, you’ve arranged to tell them.
                                        <br/>
                                        <br/>
                                        <b>ix)  You own it </b>
                                        <br/>
                                        There is no other electronic cash system in which your account isn’t owned by someone else. Take PayPal. E.g., if the company decides for some reason that your account has been misused, it has the power to freeze all of the assets held in the account, without consulting you. It is then up to you to jump through whatever hoops are necessary to get it cleared, so that you can access your funds. With bitcoin, you own the private key and the corresponding public key that makes up a bitcoin address. No one can take that away from you (unless you lose it yourself, or host it with a web-based wallet service that loses it for you).
                                        <br/>
                                        <br/>
                                        <b>x)  You can create your own money </b>
                                        <br/>
                                        Most national governments take a fairly dim view of you producing your own money. With bitcoin, however, it is encouraged. You can certainly buy bitcoins on the open market, but you can also mine your own if you have enough computing power. After covering your initial investment in equipment and electricity, when mining for bitcoins, it is simply a case of leaving the machine switched on, and the software running. And who wouldn’t like their computer to earn them money while they sleep? </div>

                                    </div>
                                </div>
                                <!-- Question 2 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextD" href="#collapseTextD2">b) Which Merchants Accept Bitcoin ?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextD2" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        We have compiled a list of merchants that accept bitcoin and deliver goods here in Thailand. You can check it out here:
                                        <br/>
                                        <a href="http://www.bitcoinrealmthai.com/">http://www.bitcoinrealmthai.com/</a>
                                      </div>
                                    </div>
                                </div>
                                <!-- Question 3 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextD" href="#collapseTextD3">c) The Advantages of Bitcoin</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextD3" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        <b>Payment freedom </b>
                                        <br/>
                                         It is possible to send and receive bitcoins anywhere in the world at any time. No bank holidays. No borders. No bureaucracy. Bitcoin allows its users to be in full control of their money.
                                        <br/>
                                        <br/>
                                        <b>Choose your own fees</b>
                                        <br/>
                                         There is no fee to receive bitcoins, and many wallets let you control how large a fee to pay when spending. Moreover, transferring Bitcoin at coins.co.th has no fee! Higher fees can encourage faster confirmation of your transactions. Fees are unrelated to the amount transferred, so it's possible to send 100,000 bitcoins for the same fee it costs to send 1 bitcoin. Additionally, merchant processors exist to assist merchants in processing transactions, converting bitcoins to fiat currency and depositing funds directly into merchants' bank accounts daily. As these services are based on Bitcoin, they can be offered for much lower fees than with PayPal or credit card networks.
                                        <br/>
                                        <br/>
                                        <b>Fewer risks for merchants</b>
                                        <br/>
                                         Bitcoin transactions are secure, irreversible, and do not contain customers’ sensitive or personal information. This protects merchants from losses caused by fraud or fraudulent chargebacks, and there is no need for PCI compliance. Merchants can easily expand to new markets where either credit cards are not available or fraud rates are unacceptably high. The net results are lower fees, larger markets, and fewer administrative costs.
                                        <br/>
                                        <br/>
                                        <b>Security and control</b>
                                        <br/>
                                         Bitcoin users are in full control of their transactions; it is impossible for merchants to force unwanted or unnoticed charges as can happen with other payment methods. Bitcoin payments can be made without personal information tied to the transaction. This offers strong protection against identity theft. Bitcoin users can also protect their money with backup and encryption.
                                        <br/>
                                        <br/>
                                        <b>Transparent and neutral</b>
                                        <br/>
                                         All information concerning the Bitcoin money supply itself is readily available on the block chain for anybody to verify and use in real-time. No individual or organization can control or manipulate the Bitcoin protocol because it is cryptographically secure. This allows the core of Bitcoin to be trusted for being completely neutral, transparent and predictable.
                                      </div>
                                    </div>
                                </div>
                                <!-- Question 4 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextD" href="#collapseTextD4">d) Can Bitcoins be Counterfeited ?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextD4" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        There is no such thing as a "bitcoin" that can be copied. Rather, there is a list of all the transactions that have taken place on the bitcoin network and the order they have taken place. Every client has a copy of this list. Essentially, the only way to counterfeit bitcoins would be to spend them in more than one place. This is called a double-spend attack. However, because of the design of the bitcoin block chain (the list of all the transactions) and the way that list is secured by mining, this requires a tremendous amount of computer power.
                                        <br/>
                                        <br/>
                                        To read more about it, please visit the website below:
                                        <br/>
                                        <a href="http://en.bitcoin.it/wiki/How_bitcoin_works#Double_spending">http://en.bitcoin.it/wiki/How_bitcoin_works#Double_spending</a>
                                      </div>
                                    </div>
                                </div>
                                <!-- Question End -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">5. Getting Started with Digital Currency and Blockchain Technology</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">

                          <!-- Inner Topic 2 -->
                          <div class="panel-group" id="accordionTextE">
                                <!-- Question 1 -->
                                <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextE" href="#collapseTextE1">a) What Do I Need to Start Mining ?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextE1" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        In the early days of Bitcoin, anyone could find a new block using their computer's CPU. As more and more people started mining, the difficulty of finding new blocks increased greatly to the point where the only cost-effective method of mining today is using specialized hardware. You can visit <a href="http://www.BitcoinMining.com">BitcoinMining.com</a> for more information.
                                      </div>
                                </div>
                                <!-- Question 2 -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTextE" href="#collapseTextE2">b) How Can I Buy Bitcoin via a Credit Card or Paypal ?</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTextE2" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        It is not advisable to buy Bitcoin with either a credit card or Paypal. All forms of these types of payments are excluded to eliminate fraud (by doing a fraudulent charge-back). For this reason, none of the big exchanges accept these as forms of payment.
                                        <br/>
                                        <br/>
                                        In short, you cannot (directly) use these to buy bitcoins at exchanges.
                                      </div>
                                    </div>
                                </div>
                                <!-- Question End -->
                            </div>
                        </div>
                    </div>
                </div>
              </div>
                <!-- /.panel -->
            </div>
            <!-- /.panel-group -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-10">
        <h4><b>White Paper</b></h4>
          <a href="http://www.cryptovest.co.uk/resources/Bitcoin%20paper%20Original.pdf">Bitcoin: A Peer-to-Peer Electronic Cash System (Written By: Satoshi Nakamoto)</a><div class="whitepaperBox"><iframe target="_parent" src="http://cryptovest.co.uk/resources/Bitcoin%20paper%20Original.pdf" width = "500px" height = "200px"></iframe></div>
      </div>
    </div>
    <!-- Content Row -->
</div>
<!-- /.container -->
