<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Media Partners
                <small></small>
            </h1>
            <!-- <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">About</li>
            </ol> -->
        </div>
    </div>
    <!-- /.row -->


    <div class="row">
        <div class="col-lg-12">
            <!-- <h2 class="page-header">What is TDBA?</h2> -->
        </div>
        <div class="col-md-6">

            <p>
              Media plays a vital role in digital currency and blockchain technology consumption. These topics have been very interesting topic for the media to cover. The TDBA would like to help the digital currency community in Thailand to deliver a crystal clear message on what the digital currency can bring to our economy with verifiable and reliable information.
              <br/>
              <h3>Benefits of becoming a Media Partner</h3>
              <b>Visibility &#38; Network</b>
                <ul>
                  <li>
                    The Media Partners have their own profile page on TDBA website
                  </li>
                  <li>
                    Media Partners can publish noteworthy articles in the newsletter and website of TDBA
                  </li>
                  <li>
                    An opportunity to distribute your publications at TDBA events
                  </li>
                  <li>
                    Media Partners will get access to high quality conferences and other exclusive events of TDBA with complimentary press passes
                  </li>
                </ul>
                <b>Knowledge &#38; Credibility</b>
                <ul>
                <li>
                  Media partners will receive reports, white papers, publications and press releases about TDBA and generate quality content for editorials
                </li>
                <li>
                  Reliable write up for your audience by way of a third party endorsement
                </li>
                </ul>
</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/assets/media.jpg" alt="">
        </div>
    </div>
