<!-- Page Content -->
<div class="container">
    <!-- Industry Member -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Industry Member <font size=3>(Digital Currency Businesses)</font></h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="/assets/coins-co-th.png" alt="">
        </div>
        <!-- <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div> -->
    </div>
    <!-- /.row -->
    <!-- Partner Member -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Partner Member <font size=3>(Associations, Enterprises, Government and International Associations)</font></h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="/assets/coins-co-th.png" alt="">
        </div>
        <!-- <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div> -->
    </div>
    <!-- /.row -->
    <!-- The Networks of the Digital Economy -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Networks of the Digital Economy <font size=3>(Individual Supporters)</font></h2>
            <i class="fa fa-arrow-right" ></i> Verarit Klawchit
            <br/><br/><i class="fa fa-arrow-right" ></i> Chantika Chomchome
            <br/><br/><i class="fa fa-arrow-right" ></i> Kawin Tiraborisute
            <br/><br/><i class="fa fa-arrow-right" ></i> Sirikhun Triwittayakhun
            <br/><br/><i class="fa fa-arrow-right" ></i> Preeda Boonyen
            <br/><br/><i class="fa fa-arrow-right" ></i> Krisnu Supaporn
            <br/><br/><i class="fa fa-arrow-right" ></i> Kanin Oungkananukij
            <br/><br/><i class="fa fa-arrow-right" ></i> Yanisa Rasameekobkul
            <br/><br/><i class="fa fa-arrow-right" ></i> Vatcharares Sritong
            <br/><br/><i class="fa fa-arrow-right" ></i> Jira Khooomkam
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
