<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">TDBA Membership Agreement and Privacy policy<br/>
                <small><font size="3"><i>(Valid from 1st May 2016)</i></font></small>
            </h1>
        </div>
    </div>
    <!-- /.row -->


    <div class="row">
        <div class="col-lg-12">
            <!-- <h2 class="page-header">What is TDBA?</h2> -->
        </div>

        <div class="col-md-9">
            <p>
            The Thai Digital Currency and Blockchain Technology Association (TDBA) is a Thailand based, national association that connects scholars, researchers, and practice leaders in the field of digital currency, Blockchain, and Fintech Industry. It is a non-profit association committed to create an atmosphere of constructive and educational dialogue to inform the general public and to create a fact based media content about Digital Currency and blockchain technology on its course to be widely known to the world.
            <br/>
            <br/>
            You have expressed interest in becoming a member of one of the following categories in the association:
            <br/>
            <ul>
              <li>
                Corporate Member (digital currency businesses,associations, enterprises, government and international associations)
              </li>
              <li>
                Networks of Digital Economy ( Individual Supporters )
              </li>
            </ul>
            <br/>
            The association will review your request and would have a total of 2 weeks or 14 days to refuse your application. The approval of the application is subject to the discretion of the board. Any reason of admissibility will be explained accordingly.
            <br/>
            <br/>
            The objectives of TDBA is to promote digital currency and blockchain technology in both businesses and consumers under the following values:
            <br/>
            <ul>
              <li>
                To assist our members and act in their interest
              </li>
              <li>
                To inculcate honor and integrity among its members
              </li>
              <li>
                To provide reliable educational materials to the general public
              </li>
              <li>
                To stimulate innovation
              </li>
              <li>
                To uphold the use and development of digital currency in Thailand
              </li>
              <li>
                To encourage and facilitate any discourse of Blockchain-related ideas, projects, programs, and events
              </li>
              <li>
                To report any identified dishonest activities
              </li>
            </ul>
            <br/>
            <br/>
            In the application for the membership for TDBA, it is important that you adhere to the following Code of Conduct:
            <br/>
            <ul>
              <li>
                To understand the association’s vision and embody the company’s mission
             </li>
             <li>
               To act with honor and integrity
             </li>
             <li>
               To support an open, honest, continuous and transparent communications among members
             </li>
             <li>
               To promote consumer protection and act in accordance to the interest of consumers
             </li>
             <li>
               To safeguard the security of customer’s digital assets
             </li>
             <li>
               To act with transparency and discernment
             </li>
             <li>
               To observe proper standards of market conduct
             </li>
          </ul>
          <br/>
          <b>Member’s Declaration and Consent</b>
          <br/>
            I confirm the following statements:
          <br/>
          <ul>
            <li>
             I agree and support  the principles and objectives of  Thai Digital Currency and Blockchain Technology Association
           </li>
           <li>
              I will act in accordance with the TDBA Values and Code of Conduct
            </li>
            <li>
              I have disclosed all the necessary information that may affect the consideration of my application
            </li>
          </ul>
          <br/>
          <br/>
          <b>Memorandum</b>
          <ul>
            <li>
              Every member should provide the clear name and contact details of the nominated or authorized representative for the proper documentation of TDBA for voting purposes.
            </li>
            <li>
              The principles and code of conduct are subject to change including the annual membership fees and categories of membership.  Every changes will be notified to members and on the website. In the cases of continued membership, TDBA will regard this as an acceptance, if there is any, revisions and changes in the membership agreement.  Any refusal and or disagreement from the association’s terms would mean that the application will be rejected or for standing members, will be withdrawn immediately.
            </li>
            <li>
              Any person or company would need to inform TDBA immediately if the person or company have been subjected for any issues related to the following: regulatory or disciplinary action, bankruptcy, pending and previous criminal convictions. Details should be sent in our email (<a href="mailto:thaidba2016@gmail.com">thaidba2016@gmail.com</a>) for close review of your application.
            </li>
          </ul>
          <br/>
          <b>Member Benefits</b>
          <ul>
            <li><b>Networks of the Digital Economy</b></li>
            <ol>
              <li>
                <b>Supporters</b>
              </li>
              <ol>
                <li type="i">
                  Get access to the TDBA forum
                </li>
                <li type="i">
                  Participate in TDBA surveys
                </li>
                <li type="i">
                  Get the latest news and updates from the TDBA
                </li>
                <li type="square">
                  Duration: Lifetime
                </li>
                <li type="square">
                  Fee: Free
                </li>
              </ol>
              <li>
                <b>Independent</b>
              </li>
              <ol>
                <li type="i">
                  Get access to the TDBA forum
                </li>
                <li type="i">
                  Participate in TDBA surveys
                </li>
                <li type="i">
                  Get the latest news and updates from the TDBA
                </li>
                <li type="i">
                  Priority access and discounts to attend TDBA events, meetings, forums
                </li>
                <li type="i">
                  Participate in TDBA Committees
                </li>
                <li type="i">
                  Nominate yourself or others to stand for the annual TDBA Board Elections
                </li>
                <li type="i">
                  Vote for the annual TDBA Board  Elections
                </li>
                <li type="square">
                  Duration: 1 year
                </li>
                <li type="square">
                  Fee: 1,300 baht
                </li>
              </ol>
            </ol>
          </ul>
          <ul>
            <li><b>Corporate Members</b></li>
            <ol>
              <li>
                <b>Standard Members</b>
              </li>
              <ol>
                <li type="i">
                  Get access to the TDBA forum
                </li>
                <li type="i">
                  Participate in TDBA surveys
                </li>
                <li type="i">
                  Get the latest news and updates from the TDBA
                </li>
                <li type="square">
                  Duration: Lifetime
                </li>
                <li type="square">
                  Fee: Free
                </li>
              </ol>
              <li>
                <b>Prime Members</b>
              </li>
              <ol>
                <li type="i">
                  Get access to the TDBA forum
                </li>
                <li type="i">
                  Participate in TDBA surveys
                </li>
                <li type="i">
                  Get the latest news and updates from the TDBA
                </li>
                <li type="i">
                  Participate in TDBA Committees
                </li>
                <li type="i">
                  Priority access and discounts to attend TDBA events, meetings, forums
                </li>
                <li type="i">
                  Nominate your company or others for the annual TDBA Board Elections
                </li>
                <li type="i">
                  Advertise &#38; Publish TDBA membership on the company's print and digital marketing
                </li>
                <li type="i">
                  Vote for the annual TDBA Board Elections
                </li>
                <li type="square">
                  Duration: 1 year
                </li>
                <li type="square">
                  Fee: 10,300 baht
                </li>
              </ol>
            </ol>
          </ul>

              <br/>
              <br/>
              <b>TDBA – Privacy Policy</b>
              <br/>
              We collect information of those who applied membership with us, aggregate information on when you register, subscribe to our services, post on our forum, and any information volunteered by the member (such as survey information and site registrations). The collected information will only be used to improve the content of the website and services offered by TDBA. The association will also display your name on the website on the membership page. However other information gathered will not be shared unless if granted with your permission or under the following situation:
              <ul>
                <li>
                  The information is needed in order to prevent, investigate, or take action in any illegal activities, violation of Membership Agreement, and required by the law.
                </li>
              </ul>
              <br/>
              <b>Cookies</b>
              <br/>
              A cookie is a small amount of data, which often includes an anonymous unique identifier that is sent and store on your internet browser that allows your internet browser and the association’s website to communicate.
              <br/>
              Cookies are required to use the TDBA service.
              <br/>
              Cookies lets TDBA to record anonymous information, and not to determine individual activity including the type of the Internet browser, computer’s operating system, website and the areas you have visited prior to our website, and your IP Address.
              <br/>
              <br/>
              The purpose of the cookies including but not limited to the following:
              <ul>
                <li type="a">
                  Provide on target and relevant advertisement
                </li>
                <li type="a">
                  Customize features of the website
                </li>
                <li type="a">
                   Make filling out forms easier
                </li>
                <li type="a">
                  Recognize member once the member have returned to our website
                </li>
                <li type="a">
                  Optimize our website and improve services
                </li>
                <li type="a">
                  Keep track of other websites that refer to our website
                </li>
              </ul>
              <br/>
              <b>Data Storage</b>
              <br/>
              TDBA uses third-party partners to provide the necessary software, required for data storage. The data collected will be recorded in the cloud, Heroku Server, from the United States of America (USA).  The submission of any information means that you agree to the means of storage. All the data will be treated with outmost security and will abide the privacy policy.
              <br/>
              <br/>
              The chosen password that enables you to gain access to the website will be under your responsibility and supervision.  The association strongly suggest you not to share your password to anyone.
              <br/>
              <br/>
              Please note that the process of storing the data through internet is not completely secured. TDBA will do all the necessary precaution and protection for all the data collected, however there is no guarantee for the storage and thus this will be at your own risk.
              <br/>
              <br/>
              <b>Uses of Data</b>
              <br/>
              TDBA will use the data for the following purpose:
              <br/>
              <ul>
                <li>
                  The data will ensure that the content is presented effectively on your computer
                </li>
                <li>
                  To inform all the members about the new or changes to TDBA services
                </li>
                <li>
                  To activate your participation on different interactive features of our services
                </li>
                <li>
                  To guarantee our obligations from any agreements between the member and TDBA
                </li>
                <li>
                  To keep the members abreast to TDBA events, committee meetings, and other similar events
                </li>
              </ul>
              <br/>
              <b>Disclosure</b>
              <br/>
              TDBA may disclose personally identifiable information under special circumstances, such as:
              <ul>
                <li>
                  In the situation where it is necessary to comply with subpoenas or when your actions violate the Membership Agreement
                </li>
                <li>
                  In which TDBA will buy or sell assets for the prospective seller or buyer
                </li>
                <li>
                  The necessity of exchange of information with other associations, organizations, and others for the sole purposes of fraud protection and credit risk reduction
                </li>
                <li>
                  In any circumstances that TDBA is required to follow any legal obligations, in order to reinforce and apply Membership Agreements, protect TDBA rights, property, consumers, and others.
                </li>
              </ul>
              As for the other information such as reports for the performance of TDBA, please note that the association will disclose annual reports regarding the TDBA’s overall expenditures.
              <br/>
              <br/>
              <b>Member’s Right</b>
              <br/>
              The members have the right to ask us not to process personal data for marketing purposes.
              <br/>
              TDBA will also ask your consent, if TDBA will use the data for such purposes or any disclosure to a third party
              <br/>
              Members have the right, at any time, to prevent TDBA from contacting via email. On this area, please make sure to read policies of any links that you followed through our website that may regard as our partner media, advertisers, and affiliates. TDBA will not accept any responsibilities or liability on such links that have their own standing policies.
              <br/>
              <br/>
              <b>Changes</b>
              <br/>
              TDBA may periodically update the privacy policy. All members will be notified about significant changes in the way we treat personal information whether on sending directly on email address specified in your TDBA account or by creating a prominent notice on our site.
              <br/>
              <br/>
              <b>Questions</b>
              <br/>
              Any questions about this Privacy Policy should be addressed to <a href="mailto:thaidba2016@gmail.com">thaidba2016@gmail.com</a>
              <br/>


            </p>
        </div>
    </div>
