<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">TDBA Membership Agreement and Privacy policy - <br/>(THIS IS A TEMPLATE - NOT THE ACTUAL AGREEMENT)
                <small></small>
            </h1>
        </div>
    </div>
    <!-- /.row -->


    <div class="row">
        <div class="col-lg-12">
            <!-- <h2 class="page-header">What is TDBA?</h2> -->
        </div>

        <div class="col-md-9">
            <p>
              The Thai Digital Currency and Blockchain Technology Association (TDBA) is a non-profit organisation that was established to inform public debate, influence the design of jobs and growth-friendly policy and regulation for the Thailand, to educate the public and to provide a fact-based source of media comment as peer-to-peer Digital Currency technologies, such as Bitcoin, gain wider attention.
              <br/>
              <br/>
              You have expressed interest in becoming one or more of the following:
              <br/>
              STILL IN PLANNING~~~~
              <br/>
              <br/>

              On the basis of your request we present to you an invitation for you to apply for membership via the TDBA website (www.thaidba.org). We have 14 days to refuse your application for membership. If any monies have been paid by you they will be refunded. Note: it is the discretion of the board as to whether to accept your application, where we can, we will inform you of the reasons for the refusal. References to funding and turnover relates to your group structure not just the legal entity that is applying for membership.
              <br/>
              <br/>
              The object of the TDBA  is to promote digital currency market and we intend to achieve this by the following operating principles (Operating Principles):
              <ul>
                <li>
                  To serve our members and act in their interest
                </li>
                <li>
                  To demonstrate accountability to its members and stakeholders
                </li>
                <li>
                  To report known dishonest activities
                </li>
                <li>
                  To provide trusted educational resources to the wider public
                </li>
                <li>
                  To promote digital currency innovation
                </li>
                <li>
                  To champion the digital currency industry to regulators
                </li>
                <li>
                  To extend financial inclusion though digital currency
                </li>
              </ul>
                As a member you agree to adhere to following Code of Conduct:
              <ul>
                <li>
                  To act with integrity
                </li>
                <li>
                  To promote consumer protection and act in the interest of consumers
                </li>
                <li>
                  To ensure the protection of client digital assets
                </li>
                <li>
                  To act with care and diligence in management
                </li>
                <li>
                  To act with transparency
                </li>
                <li>
                  To observe proper standards of market conduct
                </li>
              </ul>

              Code of Conduct, our privacy policy (below). Note that the principles and these terms may subject to change including the annual membership fees and categories of membership. We will do our best to notify you of any changes. If you continue to be a member then you will be deemed to have accepted any revisions. If you refuse the changes then you will be required to withdraw from the association and any fees paid will be non-refundable.
              <br/>
              <br/>
              Other points:
              <ul>
                <li>
                  Corporate membership fees are initially payable on a pro rata basis until 31st May each year and are renewable on 1st June each year.
                </li>
                <li>
                  Individual (annual) membership fees are renewable one calendar year after registration.
                </li>
                <li>
                  If you are unincorporated entity you will need to provide us with the contact details of the nominated representative, for incorporated entities you will need to inform us of who your authorised representative is for voting purposes.
                </li>
              </ul>
              <br/>
              If you agree to these terms, please select the option below and tick the box to confirm your acceptance.
              <br/>
              <br/>
              <b>Declaration:</b>
              <br/>
              <br/>
              <b>I confirm the following:</b>
              <br/>
              <ul>
                <li>
                  That I agree with the Operating Principles of the TDBA and will support the TDBA in these efforts
                </li>
                <li>
                  That I will act in accordance with the Code of Conduct
                </li>
                <li>
                  That I will ensure that I and/or my company will aim to treat its customers in line with the Operating Principles listed above
                </li>
                <li>
                  That you have disclosed all material facts that would affect your application
                </li>
                <li>
                  That I have nothing to declare that would cause the board to refuse your application should it have been aware of this fact at the time
                </li>
                <li>
                  That I will not lead the TDBA by my conduct or failure to act into disrepute
                </li>
              </ul>
              <br/>
              <b>Other relevant background</b>
              <br/>
              If you have been subject of any bankruptcy or insolvency matter or have any pending, spent or previous criminal convictions or have had regulatory or disciplinary action taken against you, please contac <a href="mailto:thaidba2016@gmail.com">thaidba2016@gmail.com</a> as your application will need to be considered in more detail.
              <br/>
              If you have been subject of any bankruptcy or insolvency matter or have any pending, spent or previous criminal convictions or have had regulatory or disciplinary action taken against you, please contact <a href="mailto:thaidba2016@gmail.com">thaidba2016@gmail.com</a> as your application will need to be considered in more detail.
              <br/>
              Failure to comply with the above Operating Principles or Declaration will lead to an immediate termination of your membership. The Board reserves the right entirely its own discretion to determine whether you have complied with the Operating Principles or above Declaration. No refund will be available for breach and shall be without prejudice to any separate action taken against you. If you are unsure whether any of the above apply to you please contact us directly.
              <br/>
              <br/>
               <b>Membership Fees</b>
              <br/>
              To be planned and included
              <br/>
              <br/>
              <b>Member Benefits</b>
              <br/>
               To be planned and included
               <br/>
               <br/>
              <b>Board Elections</b>
              <br/>
              The TDBA Board elections will be held annually in September.
              <br/>
              <br/>
              <b>TDBA – Privacy Policy</b>
              <br/>
              We collect information of those who applied membership with us, aggregate information on when you register, subscribe to our services, post on our forum, and any information volunteered by the member (such as survey information and site registrations). The collected information will only be used to improve the content of the website and services offered by TDBA. The information gathered will not be shared unless if granted with your permission or under the following situation:
              <br/>
              The information is needed in order to prevent, investigate, or take action in any illegal activities, violation of Membership Agreement, and required by the law.
              <br/>
              <br/>
              <b>Cookies</b>
              <br/>
              A cookie is a small amount of data, which often includes an anonymous unique identifier that is sent and store on your internet browser that allows your internet browser and the association’s website to communicate.
              <br/>
              Cookies are required to use the TDBA service.
              <br/>
              Cookies let’s TDBA to record anonymous information, and not to determine individual activity including the type of the Internet browser, computer’s operating system, website and the areas you have visited prior to our website, and your IP AddressAdress.
              <br/>
              The purpose of the cookies including but not limited to the following:
              <ul>
                <li type="a">
                  Provide on target and relevant advertisement
                </li>
                <li type="a">
                  Customize features of the website
                </li>
                <li type="a">
                   Make filling out forms easier
                </li>
                <li type="a">
                  Recognition once you have returned to our website
                </li>
                <li type="a">
                  Optimize our website and improve services
                </li>
                <li type="a">
                  Keep track other websites that refer our website
                </li>
              </ul>
              <br/>
              <b>Data Storage</b>
              <br/>
              TDBA uses third-party partners to provide the necessary software, required for data storage. The data will be collected are recorded  in the cloud, Heroku Server, USA” with “our server in the United States of America (USA).  The submission of any information means that you agree to the means of storage. All the data will be treated with outmost security and will abide the privacy policy.
              <br/>
              The chosen password that enables you to gain access to the website will be under your responsibility and supervision.  The association strongly suggest you not to share your password to anyone.
              <br/>
              <br/>
              Please note that the process of storing the data through internet is not completely secured. TDBA will do all the necessary precaution and protection for all the data collected, however there is no guarantee for the storage and thus this will be at your own risk.
              <br/>
              <br/>
              <b>Uses of Data</b>
              <br/>
              TDBA will use the data for the following purpose:
              <br/>
              <ul>
                <li>
                  The data will ensure that the content is presented effectively on your computer
                </li>
                <li>
                  To inform all the members about the new or changes to TDBA services
                </li>
                <li>
                  To activate your participation on different interactive features of our services
                </li>
                <li>
                  To guarantee our obligations from any agreements between the member and TDBA
                </li>
                <li>
                  To keep the members abreast to TDBA events, committee meetings, and other similar events
                </li>
              </ul>
              <br/>
              <b>Disclosure</b>
              <br/>
              TDBA may disclose personally identifiable information under special circumstances, such as:
              <ul>
                <li>
                  In the situation where it is necessary to comply with subpoenas or when your actions violate the Membership Agreement
                </li>
                <li>
                  In which TDBA will buy or sell assets for the prospective seller or buyer
                </li>
                <li>
                  The necessity of exchange of information with other associations, organizations, and others for the sole purposes of fraud protection and credit risk reduction
                </li>
                <li>
                  In any circumstances that TDBA is required to follow any legal obligations, in order to reinforce and apply Membership Agreements, protect TDBA rights, property, consumers, and others.
                </li>
              </ul>
              <br/>
              <b>Member’s Right</b>
              <br/>
              The members have the right to ask us not to process personal data for marketing purposes.
              <br/>
              TDBA will also ask your consent, if TDBA will use the data for such purposes or any disclosure to a third party
              <br/>
              Members have the right, at any time, to prevent TDBA from contacting via email. On this area, please make sure to read policies of any links that you followed through our website that may regard as our partner media, advertisers, and affiliates. TDBA will not accept any responsibilities or liability on such links that have their own standing policies.
              <br/>
              <br/>
              <b>Changes</b>
              <br/>
              TDBA may periodically update the privacy policy. All members will be notified about significant changes in the way we treat personal information whether on sending directly on email address specified in your TDBA account or by creating a prominent notice on our site.
              <br/>
              <br/>
              <b>Questions</b>
              <br/>
              Any questions about this Privacy Policy should be addressed to <a href="mailto:thaidba2016@gmail.com">thaidba2016@gmail.com</a>
              <br/>


            </p>
        </div>
    </div>
