<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">TDBA Membership Agreement and Privacy policy - <br/>(THIS IS A TEMPLATE - NOT THE ACTUAL AGREEMENT)
                <small></small>
            </h1>
        </div>
    </div>
    <!-- /.row -->


    <div class="row">
        <div class="col-lg-12">
            <!-- <h2 class="page-header">What is TDBA?</h2> -->
        </div>

        <div class="col-md-9">
            <p>
              The Thai Digital Currency and Blockchain Technology Association (TDBA) is a non-profit organisation that was established to inform public debate, influence the design of jobs and growth-friendly policy and regulation for the Thailand, to educate the public and to provide a fact-based source of media comment as peer-to-peer Digital Currency technologies, such as Bitcoin, gain wider attention.
              <br/>
              <br/>
              You have expressed interest in becoming one or more of the following:
              <br/>
              STILL IN PLANNING~~~~
              <br/>
              <br/>

              On the basis of your request we present to you an invitation for you to apply for membership via the TDBA website (www.thaidba.org). We have 14 days to refuse your application for membership. If any monies have been paid by you they will be refunded. Note: it is the discretion of the board as to whether to accept your application, where we can, we will inform you of the reasons for the refusal. References to funding and turnover relates to your group structure not just the legal entity that is applying for membership.
              <br/>
              <br/>
              The object of the TDBA  is to promote digital currency market and we intend to achieve this by the following operating principles (Operating Principles):
              <ul>
                <li>
                  To serve our members and act in their interest
                </li>
                <li>
                  To demonstrate accountability to its members and stakeholders
                </li>
                <li>
                  To report known dishonest activities
                </li>
                <li>
                  To provide trusted educational resources to the wider public
                </li>
                <li>
                  To promote digital currency innovation
                </li>
                <li>
                  To champion the digital currency industry to regulators
                </li>
                <li>
                  To extend financial inclusion though digital currency
                </li>
              </ul>
                As a member you agree to adhere to following Code of Conduct:
              <ul>
                <li>
                  To act with integrity
                </li>
                <li>
                  To promote consumer protection and act in the interest of consumers
                </li>
                <li>
                  To ensure the protection of client digital assets
                </li>
                <li>
                  To act with care and diligence in management
                </li>
                <li>
                  To act with transparency
                </li>
                <li>
                  To observe proper standards of market conduct
                </li>
              </ul>

              Code of Conduct, our privacy policy (below). Note that the principles and these terms may subject to change including the annual membership fees and categories of membership. We will do our best to notify you of any changes. If you continue to be a member then you will be deemed to have accepted any revisions. If you refuse the changes then you will be required to withdraw from the association and any fees paid will be non-refundable.
              <br/>
              <br/>
              Other points:
              <ul>
                <li>
                  Corporate membership fees are initially payable on a pro rata basis until 31st May each year and are renewable on 1st June each year.
                </li>
                <li>
                  Individual (annual) membership fees are renewable one calendar year after registration.
                </li>
                <li>
                  If you are unincorporated entity you will need to provide us with the contact details of the nominated representative, for incorporated entities you will need to inform us of who your authorised representative is for voting purposes.
                </li>
              </ul>
              <br/>
              If you agree to these terms, please select the option below and tick the box to confirm your acceptance.
              <br/>
              <br/>
              <b>Declaration:</b>
              <br/>
              <br/>
              <b>I confirm the following:</b>
              <br/>
              <ul>
                <li>
                  That I agree with the Operating Principles of the TDBA and will support the TDBA in these efforts
                </li>
                <li>
                  That I will act in accordance with the Code of Conduct
                </li>
                <li>
                  That I will ensure that I and/or my company will aim to treat its customers in line with the Operating Principles listed above
                </li>
                <li>
                  That you have disclosed all material facts that would affect your application
                </li>
                <li>
                  That I have nothing to declare that would cause the board to refuse your application should it have been aware of this fact at the time
                </li>
                <li>
                  That I will not lead the TDBA by my conduct or failure to act into disrepute
                </li>
              </ul>
              <br/>
              <b>Other relevant background</b>
              <br/>
              If you have been subject of any bankruptcy or insolvency matter or have any pending, spent or previous criminal convictions or have had regulatory or disciplinary action taken against you, please contac <a href="mailto:thaidba2016@gmail.com">thaidba2016@gmail.com</a> as your application will need to be considered in more detail.
              <br/>
              If you have been subject of any bankruptcy or insolvency matter or have any pending, spent or previous criminal convictions or have had regulatory or disciplinary action taken against you, please contact <a href="mailto:thaidba2016@gmail.com">thaidba2016@gmail.com</a> as your application will need to be considered in more detail.
              <br/>
              Failure to comply with the above Operating Principles or Declaration will lead to an immediate termination of your membership. The Board reserves the right entirely its own discretion to determine whether you have complied with the Operating Principles or above Declaration. No refund will be available for breach and shall be without prejudice to any separate action taken against you. If you are unsure whether any of the above apply to you please contact us directly.
              <br/>
              <br/>
               <b>Membership Fees</b>
              <br/>
              To be planned and included
              <br/>
              <br/>
              <b>Member Benefits</b>
              <br/>
               To be planned and included
               <br/>
               <br/>
              <b>Board Elections</b>
              <br/>
              The TDBA Board elections will be held annually in September.
              <br/>
              <br/>
              <b>TDBA – Privacy Policy</b>
              <br/>
              We are committed to protecting and respecting your privacy.
              <br/>
              This policy sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. Please read the following carefully to understand our views and practices regarding your personal data, and how we will use it.
              <br/>
              <br/>
              <b>INFORMATION WE MAY COLLECT FROM YOU</b>
              <br/>
              We may collect and process the following data about you:
              <br/>
              <ul>
                <li>
                  Information that you provide by filling in forms on our site www.thaidba.org (“our site”). This includes information provided by you at the time of registering to use our site, subscribing to our service, posting material or requesting further services.
                </li>
                <li>
                  If you contact us, we may keep a record of that correspondence;
                </li>
                <li>
                  We may also ask you to complete surveys, to be used by us for research purposes, although you do not have to respond to them;
                </li>
                <li>
                  Details of your visits to our site including, but not limited to, traffic data, location data, weblogs, other communication data and the resources that you access.
                </li>
              </ul>
              <br/>
              <b>IP ADDRESSES</b>
              <br/>
              We may collect information about your computer, including, where available, your IP address, operating system and browser type, for system administration and to report aggregate information to our advertisers. This is statistical data about our users' browsing actions and patterns and does not identify any individual.
              <br/>
              <br/>
              <b>COOKIES</b>
              <br/>
              We use ‘cookies’ and similar technologies on our site. Cookies are small computer files which our site may store in your Internet browser, enabling your Internet browser and our site to communicate with each other. Other similar technologies may operate in a different way but, like cookies, are used to analyse how the website is being used.
              <br/>
              Cookies enable us to record anonymous information about you, including: the type of Internet browser you use to access our site, your computer operating system, the websites you visited before visiting our site, the areas of our site you visit, how long you visit our site and your IP address (which can provide information about your approximate geographic location). We do not use Cookies to determine your individual identity.
              <br/>
              <br/>
              We may use cookies in order to:
              <ul>
                <li>
                  learn about how our site is being used and which types of individuals are using the website
                </li>
                <li>
                  record which other websites have referred users to our site
                </li>
                <li>
                  optimise our site and improve our services
                </li>
                <li>
                  make it easier for you to fill in forms on our site
                </li>
                <li>
                  enable our site to remember your preferences
                </li>
                <li>
                  enable aspects of the website to be customised; and
                </li>
                <li>
                  provide relevant advertising.
                </li>
              </ul>
              <br/>
              Some cookies will be deleted when you close your Internet browser, others will remain on your Internet browser until they are deleted or they reach their expiry date.
              <br/>
              We will retain information received from our use of cookies for up to one year. This information may be stored by Google as part of our use of Google Analytics.
              <br/>
              For more information about cookies, please visit allaboutcookies.org. If you do not wish for us to use cookies when you use our site, please adjust your Internet browser settings to decline cookies (your computer’s help file should tell you how to do this). If you choose to decline cookies, some parts of our site may not work properly. By using our site, you agree to our use of cookies as described above.
              <br/>
              <br/>
              <b>WHERE WE STORE YOUR PERSONAL DATA</b>
              <br/>
              -To be planned and included.
              <br/>
              <br/>
              <b>USES MADE OF THE INFORMATION</b>
              <br/>
              We use information held about you in the following ways:
              <br/>
              <ul>
                <li>
                  To ensure that content from our site is presented in the most effective manner for you and for your computer;
                </li>
                <li>
                  To inform you about TDBA events, working groups, committee meetings and similar events or similar events held by third parties;
                </li>
                <li>
                  To inform you about the products, services provided by third parties involved in digital currency;
                </li>
                <li>
                  To carry out our obligations arising from any contracts entered into between you and us;
                </li>
                <li>
                  To allow you to participate in interactive features of our service, when you choose to do so;
                </li>
                <li>
                  To notify you about changes to our services.
                </li>
              </ul>
              <br/>
              We will contact you by electronic means (e-mail or SMS) or by telephone with information about our services or those of third parties. If you do not want us to use your data in this way, please inform us by email.
              <br/>
              We do not disclose information about identifiable individuals to our advertisers, but we may provide them with aggregate information about our users (for example, we may inform them that 500 men aged under 30 have clicked on their advertisement on any given day).
              <br/>
              We may also use such aggregate information to help advertisers reach the kind of audience they want to target. We may make use of the personal data we have collected from you to enable us to comply with our advertisers' wishes by displaying their advertisement to that target audience.
              <br/>
              <br/>
              <b>DISCLOSURE OF YOUR INFORMATION</b>
              <br/>
              -To be planned and included.
              <br/>
              <br/>
              <b>YOUR RIGHTS</b>
              <br/>
              You have the right to ask us not to process your personal data for marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes. You can also exercise the right, at any time, to prevent such processing by contacting us by email. Our site may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.
              <br/>
              <br/>
              <b>ACCESS TO INFORMATION</b>
              <br/>
              The Act gives you the right to access information held about you. Your right of access can be exercised in accordance with the Act. Any access request may be subject to a fee of a minimum of 250 Thai Baht to meet our costs in providing you with details of the information we hold about you.
              <br/>
              <br/>
              <b>CHANGES TO OUR PRIVACY POLICY</b>
              <br/>
              Any changes we may make to our privacy policy in the future will be posted on this page and, where appropriate,
              <br/>notified to you by e-mail.
              <br/>
              <br/>
              <b>CONTACT</b>
              <br/>
              Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to our Support team by email on <a href="mailto:thaidba2016@gmail.com">thaidba2016@gmail.com</a>.


            </p>
        </div>
    </div>
