<!-- Page Content -->
<div class="container">
    <!-- Corporate Member -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Corporate Member</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="/assets/coins-co-th.png" alt="">
        </div>
        <!-- <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div> -->
    </div>
    <!-- /.row -->
    <!-- The Networks of the Digital Economy -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Networks of the Digital Economy <font size=3>(Individual Supporters)</font></h2>

            <%
              @users = User.all
            %>
            <% @users.each do |user| %>
              <% if user.approved === true %>
                <i class="fa fa-arrow-right" ></i> <%= user.name %>
                <br/><br/>
              <% end %>
            <% end %>
                <i class="fa fa-arrow-right" ></i> Sirikhun Triwittayakhun
                <br/><br/>
                <i class="fa fa-arrow-right" ></i> Gary Wong
                <br/><br/>
                <i class="fa fa-arrow-right" ></i> Pee Tankullrat
                <br/><br/>
                <i class="fa fa-arrow-right" ></i> Yke Kooistra
                <br/><br/>
                <i class="fa fa-arrow-right" ></i> Parardha Kumar
                <br/><br/>
                <i class="fa fa-arrow-right" ></i> Norrapat Werajong
                <br/><br/>
                <i class="fa fa-arrow-right" ></i> Chalakorn Wannapokin
                <br/><br/>
                <i class="fa fa-arrow-right" ></i> Guillaume Pouilloux
                <br/><br/>
                <i class="fa fa-arrow-right" ></i> Chantika Chomchome
                <br/><br/>
                <i class="fa fa-arrow-right" ></i> Kawin Tiraborisute
                <br/><br/>
                <i class="fa fa-arrow-right" ></i> Preeda Boonyen
                <br/><br/>
                <i class="fa fa-arrow-right" ></i> Krisnu Supaporn
                <br/><br/>
                <i class="fa fa-arrow-right" ></i> Kanin Oungkananukij
                <br/><br/>
                <i class="fa fa-arrow-right" ></i> Yanisa Rasameekobkul
                <br/><br/>
                <i class="fa fa-arrow-right" ></i> Vatcharares Sritong
                <br/><br/>
                <i class="fa fa-arrow-right" ></i> Jira Khoomkam
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
