<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Mission and Vision
              <small></small>
          </h1>
          <!-- <ol class="breadcrumb">
              <li><%= link_to 'Home', root_path %>
              </li>
              <li class="active">Contact</li>
          </ol> -->
      </div>
  </div>
  <!-- /.row -->





       <div class="container">
           <div class="row">
               <div class="col-md-5 intro-feature">
                   <div class="intro-icon">
                       <span data-icon="&#xe033;" class="icon"></span>
                   </div>
                   <div class="intro-content">
                       <h5><i class="fa fa-fw fa-eye"></i><b> Our Vision</b></h5>
                      <p>Our vision is for Thailand to become the world’s pre-eminent location for the development of businesses and services built upon Digital Currency (also known as  cryptocurrency) technologies, enhanced by a regulatory framework that encourages innovation whilst protecting the interests of commercial and consumer end-users.</font></p>
                   </div>
               </div>
               <div class="col-md-7 intro-feature">
                   <div class="intro-icon">
                       <span data-icon="&#xe030;" class="icon"></span>
                   </div>
                   <div class="intro-content">
                       <h5><i class="fa fa-fw fa-flag"></i><b> Our Mission</b></h5>
                      <p> The Thai Digital Currency and Blockchain Technology Association (TDBA) promotes the use and development of digital currency technologies in Thailand, through education, lobbying and public engagement. It provides a united public voice for the digital currency community, engages with government and regulators in order to build a world-leading regulatory environment for the creation of jobs and growth in this emerging field, promotes development and dissemination of best-practices by digital currency businesses and works to counter illegitimate uses of the technology.</font></p>
                   </div>
               </div>
           </div>
       </div>
