<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Mission and Vision
              <small></small>
          </h1>
          <!-- <ol class="breadcrumb">
              <li><%= link_to 'Home', root_path %>
              </li>
              <li class="active">Contact</li>
          </ol> -->
      </div>
  </div>
  <!-- /.row -->


       <div class="container">
           <div class="row">
               <div class="col-md-6 intro-feature">
                   <div class="intro-icon">
                       <span data-icon="&#xe033;" class="icon"></span>
                   </div>
                   <div class="intro-content">
                       <h5><i class="fa fa-fw fa-eye"></i><b> Our Vision</b></h5>
                      <p>To become the leading organization dedicated on world-class research and development of Digital Currency and Blockchain Technology that will augment the knowledge and contribute to the innovation of financial services. Thus, further enhance the interest of businesses and consumers by giving access to a more democratic and transparent Financial sector.</p>
                   </div>
               </div>
               <div class="col-md-6 intro-feature">
                   <div class="intro-icon">
                       <span data-icon="&#xe030;" class="icon"></span>
                   </div>
                   <div class="intro-content">
                       <h5><i class="fa fa-fw fa-flag"></i><b> Our Mission</b></h5>
                      <p>The Thai Digital Currency and Blockchain Technology Association (TDBA) upholds the use and development of digital currency in Thailand through educational discourse of Blockchain-related ideas, projects, programs, and events. It facilitates public engagement serving as the leading voice in order to create and give rise to an ecosystem that breeds jobs and opportunity. This is achieved through robust information dissemination and adoption of high-standard procedures erected by digital currency and blockchain technology startups.</p>
                   </div>
               </div>
           </div>
           <br/>
           <div class = "row">
             <img class="img-responsive" src="/assets/mission-vision.jpg" alt="">
           </div>
       </div>
