<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Regulation
                <small></small>
            </h1>
            <!-- <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">About</li>
            </ol> -->
        </div>
    </div>
    <!-- /.row -->


    <div class="row">
        <div class="col-lg-12">
            <!-- <h2 class="page-header">What is TDBA?</h2> -->
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/assets/regulation.jpg" alt="">
        </div>
        <div class="col-md-6">
            <p>
              The Thai Digital Currency and Blockchain Technology Association (TDBA) is established to ensure the creation of the best framework for the policies and regulations on digital currencies in Thailand. TDBA would also push forward on regulatory and security standards for digital currency stakeholders and other third-party supporters where everyone will be expected to respect and abide to be able to hold on TDBA membership.
              <br/>
              <br/>
              Each committees will check relevant system on their areas to propose appropriate administrative, public relations, accounting, legal, and research standards that can be applied to digital businesses here in Thailand.  The main goal of the committees is to guarantee that the use of digital currency for the welfare of businesses and consumers will be in accordance to the best standard of the industry with the best practice of transparency.
              <br/>
              <br/>
              TDBA members should abide the recognized regulatory framework regarding anti-money laundering (AML), know-your-client (KYC), and other procedure that may be necessary by the Government of Thailand. As the association ensure this, TDBA also work with government bodies to create the best policies and regulation for the Companies in Thailand in Digital Currency field.
            </p>
        </div>
    </div>
</div>
