<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
      <div class="col-sm-12">
          <h2> <class="page-header">Become a Sponsor - TDBA

              <hr/>
          </h2>
      </div>
  </div>
  <!-- /.row -->

  <div class="row">
     <div class="col-sm-8 intro-feature">
       <p>
         TDBA is open for sponsorship of any company, enterprises, group, and individual who would want to have exposure to the bitcoin and blockchain technology in Thailand during our events and forums.
         <br/>
         <br/>
         We give sponsorship packages that are specially designed to support your organization with potential partners and customers which can help your company to exhaust all the possibilities of generating new businesses in this market.
       </p>
       <br/>
       <p>All sponsors will receive the following standard benefit:</p>
       <ul>
        <li>Corporate logo with the link to website on TDBA sponsor’s web page</li>
        <li>Acknowledgement in the printed program</li>
        <li>Acknowledgement during the business meeting</li>
       </ul>

     </div>
     <div class="col-sm-4 text-center thumbnail">
          <h5><b>Send Sponsorship to:</b></h5>
          3ApEtn8hZywUfrhrYLE1XayytqsKJcgDrg
          <br/><br/><img class="img-responsive" src="/assets/wallet-qr.png" alt="">
          <br/>
     </div>
     <div class="col-sm-12">
       <h5><b> <font size="4">&alpha;</font> - Alpha ( ฿35,000/- )</b></h5>
       <ul>
        <li>Alpha level sponsors will receive a skirted table with Internet access in the event</li>
        <li>Guaranteed of one 45 minute presentation slot (Inform and launch new products or services)</li>
        <li>May send two representatives for free to TDBA event </li>
        <li>Inclusion in all media releases and other media contacts</li>
        <li>Banner or pull-through ads on the event </li>
        <li>Coupons or advertising on the side of tickets</li>
        <li>TDBA will distribute brochures from Alpha level sponsors</li>
       </ul>
       <br/>
       <h5><b> <font size="4">&beta;</font> - Beta ( ฿25,000/- )</b></h5>
       <ul>
        <li>Beta level sponsors are guaranteed one 30 minute presentation slot (Inform and launch new products or services)</li>
        <li>Banner or pull-through ads on the event </li>
        <li>Coupons or advertising on the reverse side of tickets </li>
        <li>TDBA will distribute brochures from Beta level sponsors</li>
       </ul>
       <br/>
       <h5><b> <font size="4">&gamma;</font> - Gamma ( ฿15,000/- )</b></h5>
       <ul>
        <li>TDBA will distribute brochures from Gamma level sponsors</li>
       </ul>
       <br/>
       <h5><b> <font size="4">&delta;</font> - Delta ( ฿10,000/- )</b></h5>
       <ul>
        <li>Delta level sponsors will receive the standard benefits listed above.</li>
       </ul>
       <br/>

       <p>
         <b>Contact Us</b>
         <br/>
         We are happy to discuss any special or specific consideration that your company would like to achieve that are not mentioned above. Kindly <%= link_to 'contact us', page_path('contact') %> for any questions or concerns. We are looking forward to your participation.
       </br>
       </br>
       Sponsorship through bitcoin are accepted through this page. If you are interested to sponsor in other currency, kindly <%= link_to 'contact us', page_path('contact') %>. If you would like to help the association but lower the amount stated above, please proceed to our <%= link_to 'Donate Page', page_path('donate') %>. 
       </p>
     </div>

  </div>

</div>
