<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">TDBA's Transparency
                <small></small>
            </h1>
            <!-- <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">About</li>
            </ol> -->
        </div>
    </div>
    <!-- /.row -->


    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Board’s Timeline  of Term Expiration</h2>
        </div>
          <table class="col-lg-7" style="text-align:center;" >
              <thead>
                <tr>
                  <th>
                    <b>Seat</b>
                  </th>
                  <th>
                    <b>Member Class</b>
                  </th>
                  <th>
                    <b>Held By</b>
                  </th>
                  <th>
                    <b>Term Ends Dec</b>
                  </th>
                  <th>
                    <b>Next Election</b>
                  </th>
                  <th>
                    <b>Year</b>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    A
                  </td>
                  <td>
                    Individual/Corporate
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    Even
                  </td>
                </tr>
                <tr>
                  <td>
                    B
                  </td>
                  <td>
                    Individual/Corporate
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    Even
                  </td>
                </tr>
                <tr>
                  <td>
                    C
                  </td>
                  <td>
                    Individual/Corporate
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    Odd
                  </td>
                </tr>
                <tr>
                  <td>
                    A
                  </td>
                  <td>
                    Individual/Corporate
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    Odd
                  </td>
                </tr>
                <tr>
                  <td>
                    B
                  </td>
                  <td>
                    Individual/Corporate
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    Even
                  </td>
                </tr>
                <tr>
                  <td>
                    C
                  </td>
                  <td>
                    Individual/Corporate
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    TBA
                  </td>
                  <td>
                    Even
                  </td>
                </tr>
              <tr>
                <td>
                  Founding
                </td>
                <td>
                  Founding
                </td>
                <td>
                  TBA
                </td>
                <td>
                  TBA
                </td>
                <td>
                  TBA
                </td>
                <td>
                  Even
                </td>
              </tr>
              </tbody>
          </table>
    </div>
  </div>
