// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentreply {
  width: 100%;
  border-collapse: collapse;
  font-family: arial;
  margin: 0 0 25px 0;
  border-radius: 15px;
}
.commentreply thead tr th {
  vertical-align: middle;
  text-align: right;
  padding: 10px 0 8px 15px;
  background: #e9eaec;
  background: -moz-linear-gradient(top, #e9eaec 1%, #dee2e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #e9eaec), color-stop(100%, #dee2e8));
  background: -webkit-linear-gradient(top, #e9eaec 1%, #dee2e8 100%);
  background: -o-linear-gradient(top, #e9eaec 1%, #dee2e8 100%);
  background: -ms-linear-gradient(top, #e9eaec 1%, #dee2e8 100%);
  background: linear-gradient(to bottom, #e9eaec 1%, #dee2e8 100%);
  color: #9c9c9c;
  border-color: #b7b7b7;
  font: normal normal bold 0.8em/1.5 sans-serif;
  text-shadow: 0 1px #fff;
}
.commentreply tbody tr:first-child td {
  border-width: 1px 0 1px 0;
}
.commentreply tbody tr.ui-selected td, table tbody tr.ui-selected:hover td {
  background: #efefef;
}
.commentreply tbody tr td {
  font: normal normal bold 0.8em/1.5em arial;
  vertical-align: middle;
  text-align: left;
  padding: 10px 8px 8px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #bbb #ccc #ccc #ccc;
  background: #fdfdfd;
  color: #6c6c6c;
}
.commentreply tbody tr td:first-child {
  border-left-width: 1px;
}
.commentreply tbody tr td:last-child {
  border-right-width: 1px;
}
.commentreply tbody tr td .toggle {
  width: 62px;
  height: 27px;
  margin: auto;
}
.commentreply tbody tr td.output {
  text-align: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAFCAYAAACEhIafAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAABdJREFUGFdjAAJlECEFIoRABCcQMzAAAAWUAFmQZlpWAAAAAElFTkSuQmCC");
  background-repeat: repeat-x;
  margin: 0;
  padding: 0 7px 0 5px;
  position: relative;
}
.commentreply tbody tr td.output p {
  padding: 20px;
}
.commentreply tbody tr td.output .intent {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 200px;
  height: 100px;
}
.commentreply tbody tr td.output .options {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  background: #eee;
  border: 1px solid #ccc;
}
.commentreply tbody tr td.output .options img {
  margin: 0 3px;
}
.commentreply tbody tr td.output:hover {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAFCAYAAACEhIafAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAABdJREFUGFdjAAJlECEFIoRABCcQMzAAAAWUAFmQZlpWAAAAAElFTkSuQmCC");
  background-repeat: repeat-x;
  cursor: default;
}
.commentreply tbody tr:nth-child(odd) {
  background-color: #fafafa;
}
.commentreply tbody tr:hover td {
  background: #ffffd3;
  background: -moz-linear-gradient(top, #ffffd3 0%, #ffffaf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffd3), color-stop(100%, #ffffaf));
  background: -webkit-linear-gradient(top, #ffffd3 0%, #ffffaf 100%);
  background: -o-linear-gradient(top, #ffffd3 0%, #ffffaf 100%);
  background: -ms-linear-gradient(top, #ffffd3 0%, #ffffaf 100%);
  background: linear-gradient(to bottom, #ffffd3 0%, #ffffaf 100%);
  border-color: #bbb #aaa #ccc #aaa;
  border-style: solid dotted;
}
.backButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #337ab7;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 80px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 5px;
}

.backButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
  color: #f2f2f2;
}

.backButton span:after {
  content: '<<';
  position: absolute;
  opacity: 0;
  top: 0;
  color: #f2f2f2;
  left: -45px;
  transition: 0.2s;
}

.backButton:hover span {
  padding-left: 15px;
}

.backButton:hover span:after {
  opacity: 1;
  right: 0;
}
